@media screen and (min-width: 768px) {
  .mobile-search-container {
    display: none;
  }
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .mobile-search-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #222;
  }
}

.mobile-search-input {
  height: 30px;
  width: 280px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}
