.desktop-navbar {
  height: 10%;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .desktop-navbar {
    display: none;
  }
}

.logo-and-name-container {
  display: flex;
  align-items: center;
}

.insta-logo {
  height: 50px;
  width: 50px;
}

.insta-share {
  margin-left: 15px;
  font-weight: 600;
  font-size: 16px;
}
.desktop-navItems {
  display: flex;
  align-items: center;
  padding-right: 0px;
  justify-content: space-between;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .desktop-navItems {
    display: none;
  }
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #222;
}

.search-input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}
.search-button {
  background-color: antiquewhite;
  height: 30px;
  width: 50px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #222;
}
.nav-item {
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
}
.logout-button {
  background-color: #07b0ed;
  border-radius: 8px;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.link-item {
  color: #222;
  text-decoration: none;
}

.mobile-navbar {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  .logo {
    height: 50x;
    width: 50px;
    margin-left: 10px;
  }

  .menu-icon {
    cursor: pointer;
    font-size: 1.5rem;
  }

  .menu-popup {
    position: fixed;

    top: 60px;
    left: 0px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    border: 2px solid #2f2f2f;
  }

  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu-list li {
    margin: 10px 0;
  }

  .mobile-logout-btn {
    margin: 0px 0;
    height: 30px;
    width: 100px;
    border: none;
    background-color: #07b0ed;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #222;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-list li a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
  }

  .menu-list li a:hover {
    background-color: #444;
  }
}
